angularjs/*.pdf
angularjs/*.log
angularjs/Angular*dev-docs_files
angularjs/*ngdoc.md
*orig.*
node/*_files
angularjs/*_files
angularjs/ng-guide-all.html
angularjs/ng-guide-all2.html
angularjs/ng-guide-all3-mod.html
angularjs/auxi/transforms/feature-test.js
angularjs/list-of-angular-resources/at-name.png
angularjs/list-of-angular-resources/resources-white/african-grey-parrot*.png
javascript/auxi/pix/essential/name-tk.png
javascript/auxi/pix/essential/essential-links.png
javascript/auxi/pix/essential/elliott-essential-js-links-gist.png
javascript/auxi/css/github-3459.css
javascript/auxi/css/github2-eb90.css
javascript/misc/
