angularjs/*.pdf
angularjs/*.log
angularjs/Angular*dev-docs_files
angularjs/*ngdoc.md
*orig.*
node/*_files
angularjs/*_files
angularjs/ng-guide-all.html
angularjs/ng-guide-all2.html
angularjs/auxi/transforms/feature-test.js
angularjs/list-of-angular-resources/at-name.png
javascript/auxi/pix/essential/name-tk.png

