/*** SPECIFIC STYLESHEET FOR: READING- common***/

/*** BODY CONTAINER ***/
.aside{
	float: left;
	width: 8%;
	*width: 26%;/* IE7 */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

	.aside h2{
		 font-family:  Share-Bold,'mulilight', sans-serif;
		 font-size: 1.7em;
	}
/*
.contentBody{
	float: left;
	width: 92%;
	*width: 64%; /* IE7 */
/*	border-right: 1px solid #e2e2e2;
	min-height: 1550px;
    height:auto !important;
    height: 1550px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*/
.contentBody{float: none; width: auto; padding: 20px; min-height: 0px; height: auto; border-right: none;}
	.contentBody h2{
		font-size: 2.6em;
	/*	text-transform: uppercase;  */
	/*	color: #0e6078;  */
		margin-bottom: 20px;
		margin-top: 30px;
		line-height:1.3;
		color: #000;
		font-family:  Share-Bold, 'open_sansregular', sans-serif;
	}

.search-result{
	font-size: 1.6em;
}

@media screen and (max-width: 768px){
	.aside{display: none;}
	.contentBody{width: 66%; min-height: 1700px;}
.contentBody{float: none; width: auto; padding: 20px; min-height: 0px; height: auto; border-right: none;}
}

@media screen and (max-width: 650px){
	.aside{display: none;}
	.contentBody{float: none; width: auto; padding: 20px; min-height: 0px; height: auto; border-right: none;}
	.contentBody h2{text-align: center;}
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */



